body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h1, h2 {
  color: #444;
}

div {
  margin-bottom: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}
